<!doctype html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ja - Image Seach</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <h1 class="header">
      API Basejump: Image Search
    </h1>
    <blockquote>
      User stories:
      <ul><li>I can get the image URLs, alt text and page urls for a set of images relating to a given search string.</li></ul>
      <ul><li>I can paginate through the responses by adding a ?offset=2 parameter to the URL.</li></ul>
      <ul><li>I can get a list of the most recently submitted search strings.</li></ul>
    </blockquote>
    <h3>Example search usage:</h3>
    <code><a href="https://ja-urlshortener-ms.glitch.me/api/imagesearch/dresses?offset=10">https://ja-urlshortener-ms.glitch.me/api/imagesearch/dresses?offset=10</a></code>
    <h3>Example list history output:</h3>
    <code><a href="https://ja-urlshortener-ms.glitch.me/api/latest/imagesearch">https://ja-urlshortener-ms.glitch.me/api/latest/imagesearch</a></code>
  </div>
</body>

</html>